* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/*HEADER*/

.div_header_portada {
    background-color: rgba(29, 170, 226, 1);
    text-align: center;
}

.img_portada_header {
    width: auto;
    height: 8svw;
}

.ul_nav_header {
    margin: 0px;
    padding: 0px;
    border: 2px solid white;
    list-style: none;
    display: flex;
    text-align: center;
}

.ul_nav_header li {
    flex: 1;
    border: 2px solid rgba(29, 170, 226, 1);
}

/*------*/


/*MAIN*/

#main {
    height:auto;
    margin: 0;
}

.div_main_search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    gap: 10px
}

.div_main_search h1:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.inputSearch {
    border-radius: 15px;
    width: 30%;
    height: 30px;
}

.section1 {
    margin-top: 5px;
    padding: 0 5%;
    width: 100%;
}

.containerPlaces {
    display: flex;
    gap: 15px;
    width: 100%;
}

.bestPlaces {
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top:10px ;
}

.imgBestplaces {
    border: 2px solid;
    width: 90%;
    height: 200px;
}

.section2 {
    padding: 0 5%;
    margin-top: 50px;
    width: 100%;
}

.divSection2 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.divVideo {
    width: 60%;
    height: auto;
}

.video1 {
    width: 100%;
    height: 100%;
}

.text_video {
    width: 40%;
    height: auto;
}

.section3 {
    margin-top: 50px;
    padding: 0 5% 5%;
}

.divSection3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.divComunidad {
    width: 50%;
    text-align: center;
}

.comunidad {
    width: 100%;
    height: 100%;
}

.form_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.div_form_general {
    height: fit-content;
    display: flex;
    gap: 20px;
    width: 100%;
}

.form1 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.form2 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.div_input {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.div_input input, select {
    height: 35px;

}

.enviar_comunidad {
    width: 90px;
    height: 35px;
    border-radius: 5px;
    text-shadow: 30px;
    border-color: white;
    background-color: rgba(29, 170, 226, 1);

}

/*--RESTAURANTES--*/

.imgResta {
    border: 2px solid rgb(0, 0, 0);
    height: 150px;
    width: 150px;
}

.restSection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 5%;
    margin-bottom: 5%;
}

.sec1paises {
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    gap: 20px;
}
.sec1paises h2:first-child{
    background-color: aqua;
    grid-column-start: span 2;
    grid-row-start: span 1;
    text-align: center;
}

.articleRestaurantes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4% 1% 4%;
}


/*RESPONSIVE Restaurantes*/

.section1Response {
    margin-bottom: 5%;
}

.mobile {
    display: none;
}

.carosuelBack {
    margin: 0 5%;
}

.innerRespons {
    width: 500px;
    height: auto;
    padding: 2%;
    background-color: rgb(217, 217, 217);
}

.carousel h2{
    background-color: aqua;
    text-align: center;
    margin: 0;
}

#carouselExample2 {
    margin-top: 20px;
}


/*FOOTER*/
.div_footer {
    background-color: rgba(29, 170, 226, 1);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.img_logo_footer {
    width: 150px;
    height: 150px;
}

.div_footer_enlaces {
    margin-right: 50px;
}

.list_enlaces_footer {
    list-style: none;
}

h3 {
    margin: 0;
}

.div_footer_redes_iconos {
    text-align: center;
}

.icon_footer {

    width: 50px;
    height: 50px;
}

/*-----*/
#animaciones {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.animaciones_box  {
    border: 3px solid red;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 20px;
} 

.caja {
        background-color: white;
        width: 100px;
        height: 100px;
}


.box_tr1:hover {
    transform: rotate(360deg);
    transition: 2s;
}

.box_1:hover {
    transform: skew(20deg, 20deg);
    transition: 1s;
}

.box_ani1:hover {
width: 250px;
height: 600px;
transition: height .5s,width .5s;
}

.box_ani2:active {
    width: 30px;
    height: 20px;
    animation-name: animacion_1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;

}

@keyframes animacion_1 {
    0% {
        width: 50px;
        height: 30px;
    }

    5% {
        height: 50px;
    }

    10% {
        height: 70px;
    }

    15% {
        height: 100px;
    }
    
    20% {
        height: 100px
        background-color: green;
    }

    50% {
        width: 200px;
        background-color: yellow;
    }

    100% {
        width: 20px;
        background-color: blue;
    }
}

.box_pr3 {
    height: 200px;
    width: 300px;
    background-color: aliceblue;
}

@media (max-width: 1100px) {
    
    .mobile {
        display: block;
    }

    .restSection1 {
        display: none;
    }
}

@media (max-width: 1100px) {

    .restSection1 {
        display: none;
    }

    .mobile {
        display: block;
    }



}

@media (max-width: 1100px) {

    .containerPlaces {
        display: none;
    }

    .mobile {
        display: block;
    }

    .bestPlaces {
        padding: 0 8% 2% 8%;
    }

    .imgBestplaces {
        width: 80%;
        height: auto;
    }

}

@media (max-width: 1000px) {

    .divSection2 {
        flex-direction: column;
    }

    .text_video {
        width: 100%;
        height: auto;
    }

    .divVideo {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 800px) {

    .divSection3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divComunidad {
        width: 70svw;
    }

    .form_button {
        width: 80vw;
    }
}



@media (max-width: 800px) {

    .div_footer {
        display: block;
        text-align: center;
        gap: 200px;
    }
}