/*ESTILOS GENERALES*/
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*HEADER*/
.div_header_portada {
  background-color: rgb(29, 170, 226);
  text-align: center;
}
.div_header_portada .img_portada_header {
  width: auto;
  height: 8svw;
}

.ul_nav_header {
  margin: 0px;
  padding: 0px;
  border: 2px solid white;
  list-style: none;
  display: flex;
  text-align: center;
}

.ul_nav_header li {
  flex: 1;
  border: 2px solid rgb(29, 170, 226);
}
.ul_nav_header li a {
  text-decoration: none;
}

#main {
  height: auto;
  margin: 0;
}
#main .div_main_search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
  gap: 10px;
}
#main .div_main_search h1:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
#main .inputSearch {
  border-radius: 15px;
  width: 30%;
  height: 30px;
}

/*FOOTER*/
.div_footer {
  background-color: rgb(29, 170, 226);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.div_footer .img_logo_footer {
  width: 150px;
  height: 150px;
}
.div_footer .div_footer_enlaces {
  margin-right: 50px;
}
.div_footer .div_footer_enlaces .list_enlaces_footer {
  list-style: none;
}
.div_footer .div_footer_redes_iconos {
  text-align: center;
}
.div_footer .div_footer_redes_iconos .icon_footer {
  width: 50px;
  height: 50px;
}

/*INDEX*/
/*SECTION 1*/
@media (max-width: 1000px) {
  .paisesResponse {
    display: block;
  }
  .containerPlaces {
    display: none;
  }
}
/*SECTION 2*/
@media (max-width: 1000px) {
  .section2 {
    padding: 0 5%;
    width: 100%;
    height: 800px;
  }
  .section2 .divSection2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }
  .section2 .divSection2 .divVideo {
    width: 100%;
    height: 100%;
  }
  .section2 .divSection2 .divVideo .video1 {
    width: 100%;
    height: 100%;
  }
  .section2 .divSection2 .text_video {
    width: 100%;
    height: auto;
  }
}
/*SECTION 3*/
@media (max-width: 1000px) {
  .section3 {
    width: 100%;
  }
  .section3 .divSection3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section3 .divSection3 .divComunidad {
    width: 100%;
  }
  .section3 .divSection3 .divComunidad .comunidad {
    width: 100%;
  }
  .section3 .divSection3 .form_button {
    width: 100%;
  }
}
/*FOOTER*/
@media (max-width: 1000px) {
  .div_footer {
    display: flex;
    flex-direction: column;
  }
  .div_footer .div_footer_enlaces {
    text-align: center;
  }
}
/*RESTAURANTE*/
@media (max-width: 1000px) {
  .restSection1 {
    display: none;
  }
  .mobileRestaurante {
    display: block;
  }
}
/*HOTELES*/
@media (max-width: 1000px) {
  .hotelSection1 {
    display: none;
  }
  .section1Response {
    display: block;
  }
}
/* Actividades*/
@media (max-width: 800px) {
  /*Primera parte de "Actividades"*/
  #mainActividad .section1Actividades {
    display: none;
  }
  .section1ActividadesResp {
    display: block;
  }
  /*Actividades en cada pais*/
  .actividadRiel {
    display: flex;
    flex-direction: column;
  }
  .actividadRiel .paisActividades {
    border: 2px solid yellow;
  }
  .actividadRiel .paisActividades .actividadIMG {
    width: 200px;
    height: 200px;
  }
}
/*@media (max-width: 1100px) {
  .restSection1 {
    display: none;
  }
  .mobileRestaurante {
    display: block;
  }
}

@media (max-width: 1100px) {
  .containerPlaces {
    display: none;
  }
  .mobile {
    display: block;
  }
  .bestPlaces {
    padding: 0 8% 2% 8%;
  }
  .imgBestplaces {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .divSection2 {
    flex-direction: column;
  }
  .text_video {
    width: 100%;
    height: auto;
  }
  .divVideo {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 800px) {
  .divSection3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divComunidad {
    width: 70svw;
  }
  .form_button {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .div_footer {
    display: block;
    text-align: center;
    gap: 200px;
  }
} */
.carousel {
  text-align: center;
}

/*INDEX*/
.section1 {
  margin-top: 5px;
  padding: 0 5%;
  width: 100%;
}

.containerPlaces {
  display: flex;
  gap: 15px;
  width: 100%;
}
.containerPlaces .bestPlaces {
  background-color: rgb(217, 217, 217);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 10px;
}
.containerPlaces .bestPlaces .imgBestplaces {
  border: 2px solid;
  width: 90%;
  height: 200px;
}

/*RESPONSIVE PAISES*/
.paisesResponse {
  margin: 4%;
  display: none;
}
.paisesResponse .bestPlacesResponse {
  background-color: rgb(217, 217, 217);
  padding: 1%;
  border-radius: 15px;
}
.paisesResponse .bestPlacesResponse .imgBestplacesResponse {
  width: 300px;
  margin-bottom: 15px;
}

.section2 {
  padding: 0 5%;
  margin-top: 50px;
  width: 100%;
  height: 680px;
}
.section2 .divSection2 {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 80%;
}
.section2 .divSection2 .divVideo {
  width: 60%;
  height: auto;
}
.section2 .divSection2 .divVideo .video1 {
  width: 100%;
  height: 100%;
}
.section2 .divSection2 .text_video {
  width: 40%;
  height: auto;
}

.section3 {
  margin-top: 50px;
  padding: 0 5% 5%;
}
.section3 .divSection3 {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.section3 .divSection3 .divComunidad {
  width: 50%;
  text-align: center;
}
.section3 .divSection3 .divComunidad .comunidad {
  width: 100%;
  height: 100%;
}
.section3 .divSection3 .form_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
}
.section3 .divSection3 .form_button .div_form_general {
  height: fit-content;
  display: flex;
  gap: 10px;
  width: 100%;
}
.section3 .divSection3 .form_button .div_form_general .form1 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.section3 .divSection3 .form_button .div_form_general .form1 .div_input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section3 .divSection3 .form_button .div_form_general .form1 .div_input input, .section3 .divSection3 .form_button .div_form_general .form1 select {
  height: 50px;
}
.section3 .divSection3 .form_button .div_form_general .form2 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.section3 .divSection3 .form_button .div_form_general .form2 .div_input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section3 .divSection3 .form_button .div_form_general .form2 .div_input input, .section3 .divSection3 .form_button .div_form_general .form2 select {
  height: 50px;
}
.section3 .divSection3 .form_button .enviar_comunidad {
  width: 90px;
  height: 35px;
  border-radius: 5px;
  text-shadow: 30px;
  border-color: white;
  background-color: rgb(29, 170, 226);
}

/*RESTAURANTES*/
/*--RESTAURANTES--*/
.restSection1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  margin-bottom: 5%;
}
.restSection1 .sec1paises {
  background-color: rgb(217, 217, 217);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
}
.restSection1 .sec1paises .articleRestaurantes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6%;
}
.restSection1 .sec1paises .articleRestaurantes .imgResta {
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 5%;
  height: 150px;
  width: 180px;
}
.restSection1 .sec1paises h2:first-child {
  background-color: aqua;
  grid-column-start: span 2;
  grid-row-start: span 1;
  text-align: center;
}

/*RESPONSIVE Restaurantes*/
.mobileRestaurante {
  display: none;
}

.restauranteResponse {
  margin-bottom: 5%;
  gap: 50px;
}
.restauranteResponse .carosuelBackResponse {
  margin: 0 5%;
  margin-bottom: 4%;
}
.restauranteResponse .carosuelBackResponse h2 {
  background-color: aqua;
  margin: 0;
  padding: 5px;
}
.restauranteResponse .carosuelBackResponse .innerRespons {
  background-color: rgb(217, 217, 217);
  padding-top: 10px;
}
.restauranteResponse .carosuelBackResponse .innerRespons .imgRestaResponse {
  border: 2px solid rgb(0, 0, 0);
  margin-bottom: 5%;
  height: 180px;
  width: 260px;
}

/* */
/*HOTELES*/
.hotelSection1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  margin-bottom: 5%;
}
.hotelSection1 .sec1paises {
  background-color: rgb(217, 217, 217);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
.hotelSection1 .sec1paises .articleHotel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4% 1% 4%;
}
.hotelSection1 .sec1paises .articleHotel .imgHotel {
  border: 2px solid rgb(0, 0, 0);
  height: 150px;
  width: 150px;
  margin-bottom: 4%;
}
.hotelSection1 .sec1paises h2:first-child {
  background-color: aqua;
  grid-column-start: span 2;
  grid-row-start: span 1;
  text-align: center;
}

/*RESPONSIVE HOTELES*/
.section1Response {
  margin-bottom: 5%;
  display: none;
}
.section1Response .carosuelBackHotel {
  margin: 2% 5%;
}
.section1Response .carosuelBackHotel h2 {
  background-color: aqua;
  margin-bottom: 0;
  padding: 5px;
}
.section1Response .carosuelBackHotel .innerRespons {
  padding: 2%;
  background-color: rgb(217, 217, 217);
}
.section1Response .carosuelBackHotel .innerRespons .articleHotelResponse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 4% 1% 4%;
}
.section1Response .carosuelBackHotel .innerRespons .articleHotelResponse .imgHotelResponse {
  border: 2px solid rgb(0, 0, 0);
  height: 180px;
  width: 260px;
}

/*ACTIVIDADES*/
#mainActividad .tituloActividades {
  text-align: center;
  margin-top: 20px;
}
#mainActividad .section1Actividades {
  margin: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
}
#mainActividad .section1Actividades .actividad {
  flex: 1;
  text-align: center;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
}
#mainActividad .section1Actividades .actividad .sec1ActImg {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  height: 70%;
  border: 1px solid gray;
}
#mainActividad .section1Actividades .actividad p {
  font-size: 20px;
  color: rgb(42, 105, 199);
  text-decoration: none;
}
#mainActividad .section1Actividades .actividad a {
  text-decoration: none;
}
#mainActividad .section1Actividades .lugarTitulo {
  font-size: larger;
  font-weight: bold;
  margin: 0;
}
#mainActividad .actividadesLugares {
  padding: 35px;
  gap: 105px;
  width: 100%;
}
#mainActividad .actividadesLugares .actividadGeneral {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 35px;
}
#mainActividad .actividadesLugares .actividadGeneral .actividadRiel {
  display: flex;
  gap: 30px;
  width: 100%;
}
#mainActividad .actividadesLugares .actividadGeneral .actividadRiel .paisActividades {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(217, 217, 217);
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  width: 100%;
}
#mainActividad .actividadesLugares .actividadGeneral .actividadRiel .paisActividades .actividadIMG {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 50%;
}
#mainActividad .actividadesLugares .actividadGeneral h2 {
  font-weight: bold;
}

/* Response  */
.section1ActividadesResp {
  display: none;
  padding: 20px;
}
.section1ActividadesResp .actividadResp {
  border-radius: 10px;
  background-color: rgb(217, 217, 217);
  gap: 20px;
}
.section1ActividadesResp .actividadResp .sec1ActImgResp {
  width: 100%;
  height: 230px;
  border: 1px solid gray;
  border-radius: 10px;
}
.section1ActividadesResp .lugarTituloResp {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}

/*BREAKPOINTS*/
/*INDEX*/
/*SECTION 1*/
@media (max-width: 1000px) {
  .paisesResponse {
    display: block;
  }
  .containerPlaces {
    display: none;
  }
}
/*SECTION 2*/
@media (max-width: 1000px) {
  .section2 {
    padding: 0 5%;
    width: 100%;
    height: 800px;
  }
  .section2 .divSection2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }
  .section2 .divSection2 .divVideo {
    width: 100%;
    height: 100%;
  }
  .section2 .divSection2 .divVideo .video1 {
    width: 100%;
    height: 100%;
  }
  .section2 .divSection2 .text_video {
    width: 100%;
    height: auto;
  }
}
/*SECTION 3*/
@media (max-width: 1000px) {
  .section3 {
    width: 100%;
  }
  .section3 .divSection3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .section3 .divSection3 .divComunidad {
    width: 100%;
  }
  .section3 .divSection3 .divComunidad .comunidad {
    width: 100%;
  }
  .section3 .divSection3 .form_button {
    width: 100%;
  }
}
/*FOOTER*/
@media (max-width: 1000px) {
  .div_footer {
    display: flex;
    flex-direction: column;
  }
  .div_footer .div_footer_enlaces {
    text-align: center;
  }
}
/*RESTAURANTE*/
@media (max-width: 1000px) {
  .restSection1 {
    display: none;
  }
  .mobileRestaurante {
    display: block;
  }
}
/*HOTELES*/
@media (max-width: 1000px) {
  .hotelSection1 {
    display: none;
  }
  .section1Response {
    display: block;
  }
}
/* Actividades*/
@media (max-width: 800px) {
  /*Primera parte de "Actividades"*/
  #mainActividad .section1Actividades {
    display: none;
  }
  .section1ActividadesResp {
    display: block;
  }
  /*Actividades en cada pais*/
  .actividadRiel {
    display: flex;
    flex-direction: column;
  }
  .actividadRiel .paisActividades {
    border: 2px solid yellow;
  }
  .actividadRiel .paisActividades .actividadIMG {
    width: 200px;
    height: 200px;
  }
}
/*@media (max-width: 1100px) {
  .restSection1 {
    display: none;
  }
  .mobileRestaurante {
    display: block;
  }
}

@media (max-width: 1100px) {
  .containerPlaces {
    display: none;
  }
  .mobile {
    display: block;
  }
  .bestPlaces {
    padding: 0 8% 2% 8%;
  }
  .imgBestplaces {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .divSection2 {
    flex-direction: column;
  }
  .text_video {
    width: 100%;
    height: auto;
  }
  .divVideo {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 800px) {
  .divSection3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divComunidad {
    width: 70svw;
  }
  .form_button {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .div_footer {
    display: block;
    text-align: center;
    gap: 200px;
  }
} */

/*# sourceMappingURL=style_new.css.map */
