
/*--RESTAURANTES--*/
.restSection1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  margin-bottom: 5%;

  .sec1paises {
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;

    .articleRestaurantes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 6%;
    
      .imgResta {
        border: 2px solid rgb(0, 0, 0);
        margin-bottom: 5%;
        height: 150px;
        width: 180px;
      }
    }

    
  }

  .sec1paises h2:first-child {
    background-color: aqua;
    grid-column-start: span 2;
    grid-row-start: span 1;
    text-align: center;
  }

  
}


/*RESPONSIVE Restaurantes*/
.mobileRestaurante {
  display: none;
}

.restauranteResponse {
  margin-bottom: 5%;
  gap: 50px;

  .carosuelBackResponse {
    margin: 0 5%;
    margin-bottom: 4%;
  
      h2 {
        background-color: aqua;
        margin: 0;
        padding: 5px;
      }
      
      .innerRespons {
        background-color: rgb(217, 217, 217);
        padding-top: 10px;
 
          .imgRestaResponse {
            border: 2px solid rgb(0, 0, 0);
            margin-bottom: 5%;
            height: 180px;
            width: 260px;
          }
        }
      }
  }


/* */










