
.hotelSection1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 5%;
  margin-bottom: 5%;

  .sec1paises {
    background-color: rgb(217, 217, 217);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto;
    gap: 20px;

    .articleHotel {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 4% 1% 4%;

      .imgHotel {
        border: 2px solid rgb(0, 0, 0);
        height: 150px;
        width: 150px;
        margin-bottom: 4%;
      }
    }
  }
  .sec1paises h2:first-child {
    background-color: aqua;
    grid-column-start: span 2;
    grid-row-start: span 1;
    text-align: center;
  }

}


  /*RESPONSIVE HOTELES*/
.section1Response {
  margin-bottom: 5%;
  display: none;

  .carosuelBackHotel {
    margin: 2% 5%;

    h2 {
      background-color: aqua;
      margin-bottom: 0;
      padding: 5px;
    }
    
    .innerRespons {
      padding: 2%;
      background-color: rgb(217, 217, 217);

      .articleHotelResponse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 4% 1% 4%;

        .imgHotelResponse {
          border: 2px solid rgb(0, 0, 0);
          height: 180px;
          width: 260px;
        }
      }

    }
  }
  } 
