
/*INDEX*/

/*SECTION 1*/
@media (max-width: 1000px) {
    .paisesResponse {
      display: block;
    }
    .containerPlaces {
      display: none;
    }
  }

/*SECTION 2*/
@media (max-width: 1000px) {
  
  .section2 {
    padding: 0 5%;
    width: 100%;
    height: 800px;

    .divSection2 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90%;
  
        .divVideo {
          width: 100%;
          height: 100%;

          .video1 {
            width: 100%;
            height: 100%;
          }

        }

        .text_video {
          width: 100%;
          height: auto;
        }
    }
  }
}

/*SECTION 3*/

@media (max-width: 1000px) {
    
  .section3 {
    width: 100%;

    .divSection3 {
      display: flex;
      flex-direction: column;
      width: 100%;

      .divComunidad {
        width: 100%;

        .comunidad {
          width: 100%;
        }
      }
    
      .form_button {
        width: 100%;
      }  
    }    
  }
}


/*FOOTER*/
@media (max-width: 1000px) {

  .div_footer {
    display: flex;
    flex-direction: column;

  .div_footer_enlaces{
    text-align: center;
  }

  }
}


/*RESTAURANTE*/
@media (max-width: 1000px) {

  .restSection1 {
    display: none;
  }

  .mobileRestaurante {
    display: block;
  }
}

/*HOTELES*/
@media (max-width: 1000px) {

  .hotelSection1 {
    display: none;
  }

  .section1Response {
    display: block;
  }
}



  /*@media (max-width: 1100px) {
    .restSection1 {
      display: none;
    }
    .mobileRestaurante {
      display: block;
    }
  }

  @media (max-width: 1100px) {
    .containerPlaces {
      display: none;
    }
    .mobile {
      display: block;
    }
    .bestPlaces {
      padding: 0 8% 2% 8%;
    }
    .imgBestplaces {
      width: 80%;
      height: auto;
    }
  }

  @media (max-width: 1000px) {
    .divSection2 {
      flex-direction: column;
    }
    .text_video {
      width: 100%;
      height: auto;
    }
    .divVideo {
      width: 100%;
      height: 400px;
    }
  }

  @media (max-width: 800px) {
    .divSection3 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .divComunidad {
      width: 70svw;
    }
    .form_button {
      width: 80vw;
    }
  }

  @media (max-width: 800px) {
    .div_footer {
      display: block;
      text-align: center;
      gap: 200px;
    }
  } */