.section2 {
    padding: 0 5%;
    margin-top: 50px;
    width: 100%;
  }
  
  .divSection2 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
  }
  
  .divVideo {
    width: 60%;
    height: auto;
  }
  
  .video1 {
    width: 100%;
    height: 100%;
  }
  
  .text_video {
    width: 40%;
    height: auto;
  }